<div class="row">
  <div class="col s2">
  <ul id="pairing-chart-slide-out" class="sidenav sidenav-fixed">
    <li><div class="row"></div></li>
    <li>
        <div class="row">
        <div class="col s8 offset-s2">
          <dropdown
            [options]="pairingChartService.exchangeOptions$"
            [placeholder]="'Choose an exchanger'"
            (optionsChange)="setExchange($event)"
          ></dropdown>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col s8 offset-s2">
           <dropdown
              [options]="pairingChartService.currencyPairOptions$"
              [disableSelect]="enablePairSelector()"
              [placeholder]="'Choose a currency pair'"
              (optionsChange)="setCurrencyPair($event)"
          ></dropdown>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col s8 offset-s2">
          <dropdown
            [options]="pairingChartService.samplingPeriodOptions$"
            [disableSelect]="enablePeriodSelector()"
            [placeholder]="'Set the sampling period'"
            (optionsChange)="setSamplingPeriod($event)"
          ></dropdown>
        </div>
      </div>
    </li>
    <li>
      <div class="row"
        *ngIf="showConfigForm"
      >
        <div class="col s8 offset-s2">
          <div >
            <date-picker
              [setDate]="setMaxDate"
              [configuration]="pairingChartService.forecastingPeriodConfig$"
              [placeholder]="'Set time period for forecasting'"
              (onDatePick)="onDatePick($event)"
            ></date-picker>
          </div>
        </div>
      </div>
      <div class="row"
           *ngIf="showConfigForm"
      >
         <div class="col s8 offset-s2">
            <mat-slide-toggle
              (change)="setMaximumPeriod($event)"
            >
              Set maximum period
            </mat-slide-toggle>
        </div>
      </div>
      <div class="row" *ngIf="showConfigForm">
        <div class="col s10">
          <mat-slider
            min="1"
            max="100"
            step="1"
            value="1"
            (change)="setNumberOfIterations($event)"
          ></mat-slider>
        </div>
        <div class="col s2">
          {{ pairingChartService.numberOfIterations$ | async}}
        </div>
      </div>
      <div class="row" *ngIf="showConfigForm">
        <div class="col s8 offset-s3">
          <a
            class="waves-effect waves-light btn-small"
            [ngClass]="{'disabled': !enableCalculateButton}"
            (click)="calculate()"
          ><i class="material-icons right">memory</i>Calculate</a>
        </div>
      </div>
    </li>
    </ul>
    <a href="" data-target="pairing-chart-slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</div>
  <div class="col s10" style="height: 800px">
      <ngx-charts-line-chart
        *ngIf="showDiagram"
        class="chart-container"
        [results]="diagramData"
        [xAxis]="showXAxis"
        [gradient]="gradient"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [timeline]="timeline"
        (select)="select($event)">
      </ngx-charts-line-chart>
      <h3 *ngIf="!showDiagram" class="center-align">At first select parameters.</h3>
    </div>
</div>

    <!--
            *ngIf="chartType === 'line-chart'"
        [view]="view"

        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="dateDataWithOrWithoutRange"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        (legendLabelClick)="onLegendLabelClick($event)"


        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [timeline]="timeline"
        [showGridLines]="showGridLines"
        [curve]="curve"
        [rangeFillOpacity]="rangeFillOpacity"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled"
    -->

